div {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
}

.container-desafio {
    background-color: grey;
    justify-content: flex-end;
}

div > div {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.div_children1 {
    background-color: #63b1bc;
}

.div_children2 {
    background-color: #1f2a44;
}

.div_children3 {
    background-color: #ed145b;
}

.div_children4 {
    background-color: #efb661;
}